body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dac5b3;
}

.video-container{
    max-width: 70%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.video-container .video{
    width: 100%;
    height: 100%;
}


.video-container .pause{
    display: none;
}

.video-container .controls,
.video-container .playbar-container{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: -70px;
    background-color: rgba(0,0,0,.6);
    box-sizing: border-box;
    transition: .3s ease-in;
}

.video-container:hover .controls{
    bottom: 0px;
}

button{
    outline: none;
    border: none;
    color: #ccc;
    padding: 20px 0 20px 40px;
    font-size: 22px;
    background-color: transparent;
}

.video-container .playbar-container{
    content: '';
    height: 4px;
    bottom: 71px;
    background-color: rgba(255,255,255,.3);
}

.video-container .playbar-container .playbar{
    background-color: red;
}

.video-container:hover .playbar-container{
    bottom: 66px;
}